@model Address
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<strong>Address Details</strong>
<label>Village Name</label>
@Html.DisplayFor(m => m.Village)
<label>Mandal Name</label>
@Html.DisplayFor(m => m.Mandal)
<label>District Name</label>
@Html.DisplayFor(m => m.District)
<label>State Name</label>
@Html.DisplayFor(m => m.State)
<label>PinCode</label>
@Html.DisplayFor(m => m.PinCode)